{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hamro Marga</title>
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}" />
  </head>
  <body>
    <div class="background-image">
      {% comment %} <img src="{% static 'main/images/img2.jpg' %}" alt="no image" /> {% endcomment %}
      <img src="{% static 'main/images/img1.jpg' %}" alt="no image" />
    </div>

    <div class="hero-section">
      <div class="hero-title">
        " Trace Your Path, <br /> <small><small><small>Share Your Journey "</small></small></small>
      </div>

      <button id="startButton" class="start-btn">Start</button>

      <div class="tracing-icon" id="tracingIcon">
        <img src="{% static 'main/images/pin-point.gif' %}" alt="tracing..." />
      </div>
      <button id="stopButton" class="start-btn stop-btn">Stop</button>
      <button id="showSavedRoutes" class="start-btn">Saved Routes</button>
      <div id="routesList" class="routesList"></div>

      <img src="{% static 'main/images/blue-circle.png' %}" alt="dot" style="display: none;" id="dotMarkerImg" />
      <img src="{% static 'main/images/start-pin.png' %}" alt="start-dot" style="display: none;" id="startMarkerImg" />
      <img src="{% static 'main/images/destination-pin.png' %}" alt="destination-dot" style="display: none;" id="destinationMarkerImg" />
    </div>

    <div class="map">
      <!-- Create a div element for the map -->
      <button id="turnOffMap" class="hide-btn">Hide Map</button>

      <div id="map" style="width: 98vw; height: 90vh; display: none"></div>

      <!-- Include Leaflet JavaScript and CSS files -->
      <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
      <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    </div>

    <script type="module" src="{% static 'main/js/script.js' %}"></script>
  </body>
</html>
