{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hamro Marga</title>
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}" />
  </head>
  <body>
    <div class="background-image">
      <img src="{% static 'main/images/img2.jpg' %}" alt="no image" />
    </div>

    <div class="hero-section">
      <div class="hero-title">
        " Trace Your Path, <br /> <small><small><small>Share Your Journey "</small></small></small>
      </div>

      <button id="startButton" class="start-btn">Start</button>

      <div class="tracing-icon" id="tracingIcon">
        <img src="{% static 'main/images/pin-point.gif' %}" alt="tracing..." />
      </div>
      <button id="stopButton" class="start-btn stop-btn">Stop</button>
      <button id="showSavedRoutes">Saved Routes</button>
      <div id="routesList"></div>
      <button id="turnOffMap" style="display: none;">Hide Map</button>

      <img src="{% static 'main/images/dot.png' %}" alt="dot" style="display: none;" id="dotMarkerImg" />
    </div>

    <div class="map">
      <!-- Create a div element for the map -->

      <div id="map" style="width: 100vw; height: 600px; display: none"></div>

      <!-- Include Leaflet JavaScript and CSS files -->
      <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
      <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    </div>

    <script src="{% static 'main/js/script.js' %}"></script>
  </body>
</html>
