body {
  /* background-color: azure; */
  /* background: url(); */

  .background-image {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;

    img {
      height: 100vh;
      width: 100vw;
      object-fit: cover;
      position: absolute;
      z-index: -2;
    }
  }
  .background-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.729);
    z-index: -1;
  }

  .hero-section {
    height: 90vh;
    /* width: 100vw; */
    position: relative;
    z-index: 0;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .hero-title {
      color: white;
      font-size: 3rem;
      text-align: center;
      font-weight: 600;
      letter-spacing: 2px;
      text-transform: uppercase;
      line-height: 0.9;
      font-family: "Poppins", sans-serif;

      @media screen and (max-width: 768px) {
        font-size: 2rem;
      }

      @media screen and (max-width: 480px) {
        font-size: 1.5rem;
      }

      @media screen and (max-width: 320px) {
        font-size: 1.2rem;
      }

      @media screen and (max-width: 240px) {
        font-size: 1rem;
      }
    }

    .start-btn {
      margin-top: 25px;
      padding: 10px 20px;
      font-size: 16px;
      background-color: #4caf50;
      color: white;
      border: none;
      border-radius: 20px;
      cursor: pointer;
      text-transform: uppercase;
      font-family: "Poppins", sans-serif;
      letter-spacing: 1px;
      font-weight: 600;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #3e8e41;
      }

      @media screen and (max-width: 768px) {
        font-size: 14px;
      }

      @media screen and (max-width: 480px) {
        font-size: 12px;
      }

      @media screen and (max-width: 320px) {
        font-size: 10px;
      }

      @media screen and (max-width: 240px) {
        font-size: 8px;
      }
    }

    .tracing-icon {
      display: none;
      animation: pop 0.6s ease-in-out infinite alternate; /* Animation */
      img {
        height: 100px;
        width: 100px;
        border-radius: 50%;
        object-fit: cover;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      }

      @media screen and (max-width: 768px) {
        img {
          height: 80px;
          width: 80px;
        }
      }

      @media screen and (max-width: 480px) {
        img {
          height: 60px;
          width: 60px;
        }
      }

      @media screen and (max-width: 320px) {
        img {
          height: 50px;
          width: 50px;
        }
      }

      @media screen and (max-width: 240px) {
        img {
          height: 40px;
          width: 40px;
        }
      }
    }

    .stop-btn {
      display: none;
      background-color: red;
    }

    #routesList {
      display: none;
      background-color: azure;
      padding: 10px;
      border-radius: 10px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      max-height: 300px;
      overflow: auto;
    }
  }
}
@keyframes pop {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
